:root{
    --color-dark: #626F47;
    --color-mid: #839256;
    --color-primary: #A4B465;
    --color-accent: #FFCF50;
    --color-text: #FEFAE0;

    --color-brown: #6C584C;
    --color-brown-light: #8B6E5A;

}